#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
b,
em,
i {
  text-align: center;
  display: block;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.link_main {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  left: 0;
  color: white;
  background-color: #8e4e85aa;
  padding: 6px;
  border-radius: 4px;
  height: min-content;
  border: 1px solid transparent;
  transition: border linear .3s, color linear .3s;
}

.link_main:is(.left, .right) {
  top: 50%;
  margin: 0;
}

.link_main.left {
  left: 0;
  transform: rotateZ(270deg);
}

.link_main.right {
  transform: rotateZ(90deg);
  left: 72.3%;
}

.link_main:is(.left, .right, .bottom):hover {
  border: 1px solid #232957;
  color: #232957;
}
